<%- include('../../partials/Aheader') -%>

    <body>
        <div class="container-scroller">

            <%- include('../../partials/AdminNav') -%>

                <!-- partial -->
                <div class="container-fluid page-body-wrapper">
                    <!-- partial -->

                    <!-- partial:../../partials/_sidebar.html -->
                    <%- include('../../partials/Adminsidebar') -%>

                        <!-- partial -->
                         <!-- partial -->
      <div class="main-panel"> 

       
        
        
        <div class="content-wrapper">
          <div class="row">
        
            
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Banner</h4>
                  
                <form class="forms-sample" action="/admin/Banners/<%= banners._id %>?_method=PATCH" method="post">
                    <div class="form-group">
                      <label for="name">Banner Name</label>
                      <input type="text" class="form-control" name="heading" id="name" value="<%= banners.heading %>" placeholder="Name" >
                    </div>
                    
                   
                  
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a href="/admin/banners" class="btn btn-light">Cancel</a>
                </form>
                <% if (banners.images.length) { %>
                  <div class="card mt-3">
                    <div class="card-header">
                        Preview Image
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <% banners.images.forEach(img => { %>
                          <div class="col-4">
                            <figure>
                              <img src="<%= img %>" alt="img" class="preview" id="preview-img" style="max-width: 440px; object-fit: contain;" />
                              <form action="/admin/Banners/<%= banners._id %>/img/delete?_method=DELETE" method="post" class="mt-3">
                                <input type="hidden" name="image" value="<%= img %>">
                                <div class="d-grid">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                              </form>
                            </figure>
                          </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                <% } %>
                <% if (banners.images.length < 3) { %>
                  <div class="card mt-3">
                    <div class="card-header">
                      Upload
                    </div>
                    <div class="card-body">
                      <form action="/admin/Banners/<%= banners._id %>/img/add?_method=PATCH" method="post" enctype="multipart/form-data" id="uploadImg">
                        <div class="mb-3" id="appendError">
                          <input type="file" accept="image/*" <%= banners.images.length > 1 ? '' : 'multiple' %> name="images" class="form-control file-upload-info" placeholder="Upload Image" id="preview-input" />
                        </div>
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                      </form>
                    </div>
                  </div>
                <% } %>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
     
<script>
    function goBack() {
        window.history.back()
    }
</script>

<script>
    function hideErrorMessage() {
        var errorMessageElement = document.getElementById('error-message');
        if (errorMessageElement) {
            setTimeout(() => {
                errorMessageElement.style.display = 'none';
            }, 4000);

        }
    }
    hideErrorMessage();

    const previewInput = document.querySelector('.previewInput')
    const previewArea = document.getElementById('preview-group')

    previewInput.addEventListener('change', function (e) {
        console.log(e);
        const previewImages = document.querySelectorAll('.preview')
        console.log(previewImages);
        if (e.target.files.length) {
            for (let i = 0; i < e.target.files.length; i++) {
                console.log(e.target.files.length, previewImages[i]);
                previewImages[i].src = URL.createObjectURL(e.target.files[i])
            }
            previewArea.style.display = 'block'
        }
    })


    
</script>
  <!-- plugins:js -->
       <script src="../vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="../vendors/typeahead.js/typeahead.bundle.min.js"></script>
        <script src="../vendors/select2/select2.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="../js/off-canvas.js"></script>
        <script src="../js/hoverable-collapse.js"></script>
        <script src="../js/template.js"></script>
        <script src="../js/settings.js"></script>
        <script src="../js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="../js/file-upload.js"></script>
        <script src="../js/typeahead.js"></script>
        <script src="../js/select2.js"></script>
</body>


<%- include('../../partials/Afooter') -%>