<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Payment</title>
    <!-- Include Razorpay's script with your key_id -->
    <script src="https://checkout.razorpay.com/v1/checkout.js" data-key="<%= key_id %>"></script>
</head>
<body>
    <h5>Payment Processing...</h5>
    <script>
        // Initialize Razorpay checkout
        var options = {
            key: "<%= key_id %>",
            amount: <%=order.amount%> , // Amount in paise
            currency: "INR",
            name: "Elegant Seats",
            description: "Order Payment",
            order_id: "<%= order.id %>", // Order ID from the server
            handler: function (response) {

                var TransactionId = response.razorpay_payment_id; // Retrieve the payment ID
                var orderId = response.razorpay_order_id; // Retrieve the order ID
                var signature = response.razorpay_signature; // Retrieve the signature
                console.log(TransactionId)
                // Handle successful payment
                console.log(response);
                console.log('success')
                
                window.location.href = "/razorpay/CreateOrder?orderId=<%= order.id %>&transactionId="+TransactionId;
                // Redirect to a thank you page or handle order confirmation
            },
            prefill: {
                name: "<%= user.name %>",
                email: "<%= user.email %>",
                contact: "<%= user.mobile %>"
            },
            theme: {
                color: "#ECFDFF"
            }
        };

        var rzp = new Razorpay(options);
        rzp.open();
    </script>
</body>
</html>