<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elegant seats</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Elegant seats</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/css/slick.css">
   
    
</head>


    
<body style="background-color: #f9f9f9">
    <!-- Navbar -->
    <%- include('../../partials/accountNav') -%>

    <div class="container-fluid">
        <div class="row">
            
            <%- include('../../partials/accountSidebar') -%>
            <!-- Main Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


                <% if (success && success.length > 0) { %>
                    <div class="alert alert-success text-center" id="success-message">
                      <% success.forEach(function(message) { %>
                        <p><%= message %></p>
                      <% }); %>
                    </div>
                    <script>
                        setTimeout(function() {
                          var successMessage = document.getElementById('success-message');
                          if (successMessage) {
                            successMessage.style.display = 'none';
                          }
                        }, 2000); 
                      </script>
                  <% } %> 
            
                              
                             
                <div class="card">
                    <h5 class="card-title">Wallet Bal: <span class="text-success"><%= walletBalance %>/-</span></h5>
                    <div class="card-header">Wallet History</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Message</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% walletHistory.forEach((history) => { %>
                                        <tr>
                                            <th scope="row"><%= history.date.toDateString() %></th>
                                            <td><%= history.amount %></td>
                                            <td><%= history.message %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                              
                              
                              




            </main>
        </div>
    </div>

<%- include('../../partials/accountFooter') -%>  
 


