<%- include('../../partials/Aheader') -%>

<body>
  <div class="container-scroller">

    <%- include('../../partials/AdminNav') -%>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->

      <!-- partial:../../partials/_sidebar.html -->
      <%- include('../../partials/Adminsidebar') -%>

        <!-- partial -->
      <div class="main-panel"> 

       
        
        
        <div class="content-wrapper">
          <div class="row">
            
            
            
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add new Offer</h4>
                  

                <form class="forms-sample" action="/admin/offers/create" method="post">

                    <% if (error && error.length > 0) { %>
                        <div class="alert alert-danger text-center" id="error-message">
                          <% error.forEach(function(message) { %>
                            <p><%= message %></p>
                          <% }); %>
                        </div>
                        <script>
                            setTimeout(function() {
                              var successMessage = document.getElementById('error-message');
                              if (successMessage) {
                                successMessage.style.display = 'none';
                              }
                            }, 2000); 
                          </script>
                    <% } %> 


                    <div class="form-group">
                      <label for="exampleInputName1">offer Name</label>
                      <input type="text" class="form-control" name="name" id="offerName" placeholder="Name" >
                      <small id="nameErr" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Discount</label>
                        <input type="number" class="form-control" name="Discount"  id="Discount" placeholder="Discount" >
                        <small id="DiscountErr" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Start Date</label>
                        <input type="date" class="form-control" name="startDate" id="startDate" placeholder="start date" >
                        <small id="startDateErr" class="text-danger"></small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">end Date</label>
                        <input type="date" class="form-control" name="Expiry" id="Expiry" placeholder="Expiry date" >
                        <small id="ExpiryErr" class="text-danger"></small>
                    </div>

                    
                    
                    <button type="submit" onclick="return validateOffer()" class="btn btn-primary mr-2">Add</button>
                    <a href="/admin/offers" class="btn btn-light">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
            
              
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
     
  <script src="/validations/offerValidations"></script>
  <!-- plugins:js -->
  <script src="../../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="../../js/off-canvas.js"></script>
  <script src="../../js/hoverable-collapse.js"></script>
  <script src="../../js/template.js"></script>
  <script src="../../js/settings.js"></script>
  <script src="../../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../js/file-upload.js"></script>
  <script src="../../js/typeahead.js"></script>
  <script src="../../js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

<%- include('../../partials/Afooter') -%>