<%- include('../../partials/Aheader') -%>

<body>
  <div class="container-scroller">

    <%- include('../../partials/AdminNav') -%>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial -->

      <!-- partial:../../partials/_sidebar.html -->
      <%- include('../../partials/Adminsidebar') -%>

        <!-- partial -->
      <div class="main-panel"> 

       
        
        
        <div class="content-wrapper">
          <div class="row">
        
            
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Product</h4>
                  
                <form class="forms-sample" action="/admin/products/<%= product._id %>?_method=PATCH" method="post">
                    <div class="form-group">
                      <label for="name">Product Name</label>
                      <input type="text" class="form-control" name="name" id="name" value="<%= product.name %>" placeholder="Name" >
                      <small id="nameErr" class="text-danger"></small>
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputName1">Product description</label>
                      <input type="text" class="form-control" name="description" id="description" value="<%= product.description %>" placeholder="description">
                      <small id="descriptionErr" class="text-danger"></small>
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputName1">Product price</label>
                      <input type="text" class="form-control" name="price" id="price" value="<%= product.price %>" placeholder="price">
                      <small id="priceErr" class="text-danger"></small>
                    </div>
                    
                    <div class="form-group">
                      <label for="exampleInputName1">Product stock</label>
                      <input type="number" class="form-control" name="stock" id="stock" value="<%= product.stock %>" placeholder="stock">
                      <small id="stockErr" class="text-danger"></small>
                    </div>
                    
                    <div class="form-group">
                      <label for="cat">Product category</label>
                      <select name="category" id="cat" class="form-control">
                          
                          <% category.forEach(cat => { %>
                              <option value="<%= cat._id %>" 
                                 <% if (cat._id.toString() === product.category.toString()) { %>selected<% } %> > 
                                    <%= cat.name %></option>
                          <% }) %>
                      </select>     
                    </div>

                    <div class="form-group">
                      <label for="cat">Product offers</label>
                      <select name="offerId" id="cat" class="form-control">
                          <option value="-1">Choose</option>
                          <% offers.forEach(offer => { %>
                              

                                <% if(product.offer ===null){ %>
                                  <option value="<%= offer._id %>"><%= offer.name %></option>
                                <% }else{ %>    
                                  <option value="<%= offer._id %>" 
                                    <% if (offer._id.toString() === product.offer.toString()) { %>selected<% } %> > 
                                    <%= offer.name %></option>
                                <% } %>   

                                
                                   
                          <% }) %>
                      </select>     
                    </div>
                  
                    <button type="submit" class="btn btn-primary mr-2">Update</button>
                    <a href="/admin/products" class="btn btn-light">Cancel</a>
                </form>
                <% if (product.images.length) { %>
                  <div class="card mt-3">
                    <div class="card-header">
                        Preview Image
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <% product.images.forEach(img => { %>
                          <div class="col-4">
                            <figure>
                              <img src="<%= img %>" alt="img" class="preview" id="preview-img" style="max-width: 440px; object-fit: contain;" />
                              <form action="/admin/products/<%= product._id %>/img/delete?_method=DELETE" method="post" class="mt-3">
                                <input type="hidden" name="image" value="<%= img %>">
                                <div class="d-grid">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                              </form>
                            </figure>
                          </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                <% } %>
                <% if (product.images.length < 3) { %>
                  <div class="card mt-3">
                    <div class="card-header">
                      Upload
                    </div>
                    <div class="card-body">
                      <form action="/admin/products/<%= product._id %>/img/add?_method=PATCH" method="post" enctype="multipart/form-data" id="uploadImg">
                        <div class="mb-3" id="appendError">
                          <input type="file" accept="image/*" <%= product.images.length > 1 ? '' : 'multiple' %> name="images" class="form-control file-upload-info" placeholder="Upload Image" id="preview-input" />
                        </div>
                        <div class="d-grid">
                          <button type="submit" onclick="return validateProduct()" class="btn btn-primary">Upload</button>
                        </div>
                      </form>
                    </div>
                  </div>
                <% } %>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <!-- <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer> -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
   
  
  <script src="/validations/productValidations.js"></script>
  <script>
    function hideErrorMessage() {
      var errorMessageElement = document.getElementById('error-message');
      if (errorMessageElement) {
        setTimeout(()=>{
          errorMessageElement.style.display = 'none';
        }, 4000);
        
      }
    }
    hideErrorMessage();

    const previewArea = document.getElementById('preview-group')
    const previewInput = document.getElementById('preview-input')
    const previewImg = document.getElementById('preview-img')
    const uploadImg = document.getElementById('uploadImg')
    const appendError = document.getElementById('appendError')
    
    let validateUpload;

    uploadImg.addEventListener('submit', function(e) {
      const error = `
          <div class="alert alert-danger mt-3">
            Please select image to upload.  
          </div>
        `
      const el = document.createElement('div')
      el.setAttribute('id', 'error-el')
      el.innerHTML = error
      if (typeof  validateUpload === "undefined" || validateUpload?.length === 0) {
        e.preventDefault()
        if (!appendError.hasAttribute('hasError')) {
          appendError.setAttribute('hasError', true)
          appendError.appendChild(el)
        }
      } else {
        const errorEl = document.getElementById('error-el')
        appendError.removeAttribute('hasError')
        appendError.removeChild(el)
        this.submit()
      }
      
    })

    previewInput.onchange = e => {

      validateUpload = e.target.files
      
      if (e.target.files && e.target.files.length) {
          const imgSrc = URL.createObjectURL(e.target.files[0])
          previewImg.src = imgSrc
          previewArea.style.display = 'block'
      }
    }
  </script>
  <!-- plugins:js -->
  <script src="/../vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/../vendors/select2/select2.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/../js/off-canvas.js"></script>
  <script src="/../js/hoverable-collapse.js"></script>
  <script src="/../js/template.js"></script>
  <script src="/../js/settings.js"></script>
  <script src="/../js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/../js/file-upload.js"></script>
  <script src="/../js/typeahead.js"></script>
  <script src="/../js/select2.js"></script>
  <!-- End custom js for this page-->
</body>

<%- include('../../partials/Afooter') -%>